@import "@/styles/shared.scss";

.wrapper {
  padding: 90px 12px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: TsunagiGothic, sans-serif;

  position: relative;
}

.bottomWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  width: 500px;
}

.descriptionHeading {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 12px;
}

.storeLink {
  font-size: 45px;
  border-bottom: 2px solid #000;
  font-weight: 700;
}

.itemsWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 375px);
  justify-content: space-between;
  padding: 20px 0 40px;
}

.slider {
  display: none;
}

.itemsWrapperMobile {
  display: none;
}

.japaneseText {
  position: absolute;
  right: 0px;
  z-index: -1;
  top: -175px;
}

.heading {
  font-size: 32px;
  color: #420a0a;
  padding-bottom: 0;
  border-bottom: 1px solid #420a0a;
  width: max-content;
  line-height: normal;
}

.storeGraphicMobile {
  display: none;
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 24px 12px 60px;
  }

  .itemsWrapper {
    grid-template-columns: repeat(3, 300px);
  }

  .storeGraphic {
    display: none;
  }

  .storeGraphicMobile {
    display: block;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    padding: 24px 12px 60px;
  }

  .japaneseText {
    top: -130px;
  }

  .bottomWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .description {
    width: 100%;
  }

  .storeLink {
    font-size: 30px;
  }

  .itemsWrapper {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 829px) {
  .wrapper {
    padding: 24px 12px 60px;
  }

  .itemsWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .japaneseText {
    display: none;
  }
}

@media (max-width: 439px) {
  .wrapper {
    padding: 0 12px 60px;
  }

  .itemsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}