.wrapper {
  padding: 90px 0;
}

.imageWrapper {
  position: relative;
  height: 780px;

  img {
    object-fit: cover;
    border-radius: 10px;
    cursor: grab;
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 12px;
}

@media(max-width: 1080px) {
  .wrapper {
    padding: 0;
    padding-bottom: 90px;
  }
  .imageWrapper {
    height: 600px;
  }
}

@media(max-width: 768px) {
  .imageWrapper {
    height: 450px;
  }
}

@media(max-width: 529px) {
  .wrapper {
    padding-bottom: 40px;
  }
  .imageWrapper {
    height: 220px;
  }
}

@media(max-width: 439px) {
  .imageWrapper {
    height: 150px;
  }
}