@import "@/styles/shared.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 90px 0;
  font-family: "Poppins", sans-serif;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide {
  width: 100% !important;
}

.title {
  font-size: 19px;
  margin-top: 8px;
  font-weight: 700;
}

.bottomWrapper {
  display: flex;
  position: relative;
  gap: 50px;
  align-items: center;
}

.textWrapper {
  width: 30%;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}

.btnNext {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
}

.btnPrev {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
  transform: rotate(180deg);
}

.imageWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;

  width: 70%;
  height: 400px;

  img {
    object-fit: cover;
    border-radius: 5px;
  }
}

.link {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #000;
  width: max-content;
}

.firstContainer { grid-area: 1 / 1 / 3 / 2; position: relative}
.secondContainer { grid-area: 1 / 2 / 2 / 3; position: relative}
.thirdContainer { grid-area: 2 / 2 / 3 / 3; position: relative}

@media (max-width: 1080px) {
  .wrapper {
    padding: 60px 0;
  }

  .topWrapper {
    flex-direction: column;

    div {
      width: 100%;
    }

    .descB {
      padding-top: 12px;
      width: 100%;
    }
  }

  .bottomWrapper {
    flex-direction: column;
  }

  .textWrapper {
    width: 100%;
    order: 1;
  }

  .imageWrapper {
    width: 100%;
  }

  .link {
    font-size: 14px;
  }
}

