@import "@/styles/shared.scss";

.wrapper {
  display: flex;
  gap: 50px;
  padding: 45px 0;
  font-family: TsunagiGothic, sans-serif;
}

.title {
  font-size: 19px;
  margin-top: 8px;
  font-weight: 700;
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
  justify-content: space-between;
  width: 100%;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}

.textWrapper {
  p {
    font-size: 21px;
  }
}

.btnNext {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
}

.btnPrev {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
  transform: rotate(180deg);
}

.image {
  margin-left: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.imageMobile {
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  object-fit: cover;
  height: auto;
  order: 0;
}

.link {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #000;
  width: max-content;
}

@media (max-width: 1080px) {
  .wrapper {
    padding: 30px 0;
    flex-direction: column;
    gap: 16px;
  }

  .image {
    display: none;
  }

  .imageMobile {
    display: block;
  }

  .topWrapper {
    flex-direction: column;

    div {
      width: 100%;
    }

    .descB {
      padding-top: 12px;
      width: 100%;
    }
  }

  .bottomWrapper {
    gap: 16px;
    flex-direction: column;
  }

  .textWrapper {
    width: 100%;
  }

  .imageWrapper {
    width: 100%;
  }

  .link {
    font-size: 14px;
  }

  .textWrapper {
    p {
      font-size: 15px;
    }
  }
}

