.wrapper {
  margin: 90px 0;
  display: flex;
  gap: 8px;
  height: 600px;
  position: relative;

  div {
    position: relative;
    height: 100%;
    width: 50%;

    img {
      object-fit: cover;
      border-radius: 15px;
    }
  }
}

.japaneseText {
  right: 40px;
  top: -130px;
  z-index: 1;
  position: absolute;
}

.japaneseTextSmall {
  display: none;
  right: 8px;
  transform: scale(0.6);
  top: -72px;
  z-index: 1;
  position: absolute;
}

@media (max-width: 1080px) {
  .wrapper {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: 600px;
    gap: 8px;
    margin: 40px 0;

    div {
      width: 100%;
    }
  }

  .japaneseText {
    display: none;
  }

  .japaneseTextSmall {
    display: block;
  }
}