.wrapper {
  display: flex;
  gap: 16px;
}

.content {
  width: 50%;
  padding-right: 50px;
}

.imageWrapper {
  width: 50%;
  position: sticky;
  top: 12px;
  height: 320px;

  img {
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .content {
    width: 100%;
    padding-right: 0;
  }

  .imageWrapper {
    display: none;
  }
}