@import "@/styles/shared.scss";

.wrapper {
  padding: 45px 12px;
  font-family: TsunagiGothic, sans-serif;

  & * {
    color: #fff !important;
  }

  position: relative;
}

.bgCover {
  z-index: -1;
  object-fit: cover;
}

.innerWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.topWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomWrapper {
  display: flex;
  gap: 50px;
  padding: 50px 0;
}

.videoWrapper {
  width: 70%;
  position: relative;
  height: 500px;
  filter: drop-shadow(0px 0px 3.2538px rgba(0, 0, 0, 0.25));

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    object-fit: cover;
    border-radius: 5px;
  }

  img {
    cursor: pointer;
    position: absolute;
    z-index: 1;
  }

  .startVideo {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .endVideo {
    left: 15px;
    bottom: 15px;
  }

  .socials {
    display: flex;

    p {
      padding-right: 24px;
    }

    img {
      position: relative;
    }
  }
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contentWrapper {
  width: 30%;
  padding: 0px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionHeading {
  font-size: 20px;
  font-weight: 700;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    font-size: 13px;
    font-weight: 500;
  }
}

.email {
  font-size: 19px;
  font-weight: 700;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 12px;

  p {
    border-bottom: 1px solid #fff;
  }
}

.japanText {
  position: absolute;
  left: 100px;
  bottom: -110px;
}

.socials {
  bottom: -70px;
  right: -310px;
  position: absolute;

  p {
    font-weight: 600;
  }
}

.socialsMobile {
  display: none;
}

.descW {
  font-size: 17px !important;
}

@media (max-width: 1080px) {
  .wrapper {
    padding: 60px 12px 30px;
  }

  .socialsMobile {
    margin-top: 24px;
    display: flex;
    p {
      padding-right: 24px;
    }
  }

  .japanText {
    bottom: auto;
    left: auto;
    right: 40px;
    top: -105px;
  }

  .bottomWrapper {
    flex-direction: column;
    gap: 12px;
    padding-top: 0;
  }

  .videoWrapper {
    width: 100%;

    .socials {
      display: none;
    }
  }

  .contentWrapper {
    width: 100%;
    gap: 30px;
  }
}

.bgCoverMobile {
  display: none;
  z-index: -1;
  object-fit: cover;
}

@media (max-width: 769px) {
  .videoWrapper {
    height: 400px;
  }

  .bgCoverMobile {
    display: block;
  }

  .bgCover {
    display: none;
  }

  .topWrapper {
    flex-direction: column;
    align-items: flex-start;

    div {
      width: 100%;
      margin-bottom: 30px;
    }

    img {
      width: 200px;
      height: 70px;
      transform: translateX(-5px);
    }
  }
}

@media (max-width: 629px) {
  .videoWrapper {
    height: 300px;
  }
}

@media (max-width: 439px) {
  .videoWrapper {
    height: 220px;
  }

  .startVideo {
    height: 40px;
    width: 40px;
  }

  .endVideo {
    height: 30px;
    width: 30px;
  }
}
