@import "@/styles/shared.scss";

.wrapper {
  padding: 45px 12px;
  font-family: TsunagiGothic, sans-serif;

  & * {
    color: #fff !important;
  }

  position: relative;
}

.bgCover {
  z-index: -1;
  object-fit: cover;
}

.innerWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.mangasWrapper {
  width: 100%;
  position: relative;
}

.mangaWrapper {
  position: relative;
  filter: drop-shadow(0px 0px 10.538px rgba(0, 0, 0, 0.25));

  img {
    border-radius: 5px;
  }
}

.mangaTitle {
  font-size: 19px;
  margin-top: 8px;
  font-weight: 600;
}

.btnNext {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
  z-index: 1;
}

.btnPrev {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50px;
  transform: rotate(180deg);
  z-index: 1;
}

@media (max-width: 1080px) {
  .wrapper {
    padding: 60px 12px;
  }

  .bottomWrapper {
    flex-direction: column;
    gap: 30px;
  }

  .contentWrapper {
    width: 100%;
  }

  .mangasWrapper {
    width: 100%;
  }

  .btnNext {
    right: 0;
  }

  .btnPrev {
    left: 0;
  }
}

@media (max-width: 429px) {
  .mangaWrapper {
    img {
      width: 200px;
      height: 300px;
    }
  }
}