.descB {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.descW {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.heading {
  font-weight: 600;
  font-size: 72px;
  color: #000;
}

.subheading {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}